{{template "bitcup/base" .}}

{{define "render"}}
    <script>
        render('user/dashboard/dashboard', {
            activities: [
                {{range .Feeds}}
                {
                    id: {{.ID}},
                    actUser: /* User */ {
                        id: {{.ActUser.ID}},
                        username: {{.ActUser.Name}},
                        full_name: {{.ActUser.FullName}},
                        email: {{.ActUser.Email}},
                        avatar_url: {{.ActUser.Avatar}},
                        is_admin: {{.ActUser.IsAdmin}},
                        is_organization: {{.ActUser.IsOrganization}},
                        home_link: {{.ActUser.HomeLink}},
                    },
                    avatar: {{.GetActAvatar}},
                    opType: {{.GetOpType}},
                    repoLink: {{.GetRepoLink}},
                    time: {{.GetCreate}},
                    message: {{template "bitcup/user/activity-message" Dict "ctx" $ "Act" .}},
                    content: {{template "bitcup/user/activity-content" .}},
                },
                {{end}}
            ],
            organizations: [
                {{range .ContextUser.Orgs}}
                {
                    id: {{.ID}},
                    name: {{.Name}},
                    full_name: {{.FullName}},
                    home_link: {{.HomeLink}},
                    avatar_url: {{.AvatarLink}},
                    description: {{.Description}},
                    num_repos: {{.NumRepos}},
                    website: {{.Website}},
                },
                {{end}}
            ],
        });
    </script>
{{end}}
